<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/rating.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <title>WanderLust</title>
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>
    <br />
    <br />
    <div class="container">
      <%-include("../includes/flash.ejs")%> <%- body %>
    </div>
    <br />
    <br />
    <%-include("../includes/footer.ejs")%>
    <script src="/js/jquery-3.x.x.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script>
      // Dark mode toggle
      const darkModeToggle = document.getElementById("darkModeToggle");
      if (darkModeToggle) {
        // Load preference
        if (localStorage.getItem("darkMode") === "enabled") {
          document.body.classList.add("dark-mode");
        }
        darkModeToggle.addEventListener("click", () => {
          document.body.classList.toggle("dark-mode");

          // Save preference
          if (document.body.classList.contains("dark-mode")) {
            localStorage.setItem("darkMode", "enabled");
          } else {
            localStorage.setItem("darkMode", "disabled");
          }
        });
      }
    </script>
  </body>
</html>
