<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>Add Your Listing</h3>
  <form action="/listings" method="POST">
    <label for="title">Title</label>
    <br />
    <input
      type="text"
      id="title"
      name="listing[title]"
      placeholder="Enter Property Title"
    /><br /><br />
    <label for="description">Description</label>
    <br />
    <input
      type="textarea"
      id="description"
      name="listing[description]"
      placeholder="Enter Description"
      rows="10"
      cols=" 25"
    /><br /><br />
    <label for="filename">Image name</label>
    <br />
    <input
      type="text"
      id="filename"
      name="listing[image][filename]"
      placeholder="Enter Image Name"
    /><br /><br />
    <label for="url">Image URL</label>
    <br />
    <input
      type="text"
      id="url"
      name="listing[image][url]"
      placeholder="Enter Image URL"
    /><br /><br />
    <label for="price">Price</label>
    <br />
    <input
      type="number"
      name="listing[price]"
      id="price"
      placeholder="Enter Price"
    />
    <br /><br />
    <label for="location">Location</label>
    <br />
    <input
      type="text"
      id="location"
      name="listing[location]"
      placeholder="Enter Location"
    />
    <br /><br />
    <label for="country">Country</label>
    <br />
    <input
      type="text"
      id="country"
      name="listing[country]"
      placeholder="Enter Country"
    /><br /><br />
    <button type="submit">Submit Listing</button>
    <a href="/listings"><button type="button">Back to Listings</button></a>
  </form>
</body>
