<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div
    class="col-10 mx-auto mt-3 text-center p-1 border border-dark-subtle rounded-3 border-opacity-10"
  >
    <h3 class="mt-3">Add Your Listing</h3>
    <div class="col-8 mx-auto mt-3">
      <form
        action="/listings"
        method="POST"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div>
          <label for="title" class="form-label">Title</label>
          <br />
          <input
            type="text"
            id="title"
            name="listing[title]"
            placeholder="Enter Property Title"
            class="form-control"
            pattern="^[a-zA-Z0-9 ]+$"
            required
          />
          <div class="invalid-feedback">Please enter a title.</div>
          <div class="valid-feedback">Looks Good</div>
        </div>
        <br /><br />
        <div>
          <label for="description" class="form-label">Description</label>
          <br />
          <textarea
            id="description"
            name="listing[description]"
            placeholder="Enter Description"
            class="form-control"
            required
            pattern="^[a-zA-Z0-9\\s,.!?]+$"
          ></textarea>
          <div class="invalid-feedback">Please enter a Description.</div>
          <div class="valid-feedback">Looks Good</div>
        </div>
        <br /><br />
        <div>
          <label for="filename" class="form-label">Image name</label>
          <br />
          <input
            type="text"
            id="filename"
            name="listing[image][filename]"
            placeholder="Enter Image Name"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter image name.</div>
          <div class="valid-feedback">Looks Good</div>
        </div>
        <br /><br />
        <div>
          <label for="url" class="form-label">Upload Image</label>
          <br />
          <input
            type="file"
            id="url"
            name="listing[image]"
            placeholder="Upload Image"
            class="form-control"
            required
          />
        </div>
        <br />
        <br />
        <div class="checkbox-container">
          <label for="category" class="form-label">Category</label>
          <div
            class="d-flex flex-wrap flex-row border rounded-3 border-opacity-10"
            style="justify-content: space-around"
          >
            <div class="trending p-3">
              <input
                type="checkbox"
                id="trending"
                name="listing[category]"
                value="trending"
              />
              <label for="trending">Trending</label>
            </div>

            <div class="rooms p-3">
              <input
                type="checkbox"
                id="rooms"
                name="listing[category]"
                value="rooms"
              />
              <label for="rooms">Rooms</label>
            </div>

            <div class="cities p-3">
              <input
                type="checkbox"
                id="cities"
                name="listing[category]"
                value="iconic cities"
              />
              <label for="cities">Cities</label>
            </div>

            <div class="mountains p-3">
              <input
                type="checkbox"
                id="mountains"
                name="listing[category]"
                value="mountains"
              />
              <label for="mountains">Mountains</label>
            </div>
            <div class="castles p-3">
              <input
                type="checkbox"
                id="castles"
                name="listing[category]"
                value="castles"
              />
              <label for="castles">Castles</label>
            </div>
            <div class="pools p-3">
              <input
                type="checkbox"
                id="pools"
                name="listing[category]"
                value="pools"
              />
              <label for="pools">Pools</label>
            </div>
            <div class="camping p-3">
              <input
                type="checkbox"
                id="camping"
                name="listing[category]"
                value="camping"
              />
              <label for="camping">Camping</label>
            </div>
            <div class="farms p-3">
              <input
                type="checkbox"
                id="farms"
                name="listing[category]"
                value="farms"
              />
              <label for="farms">Farms</label>
            </div>
            <div class="arctic p-3">
              <input
                type="checkbox"
                id="arctic"
                name="listing[category]"
                value="arctic"
              />
              <label for="arctic">Arctic</label>
            </div>
            <div class="beaches p-3">
              <input
                type="checkbox"
                id="beaches"
                name="listing[category]"
                value="beaches"
              />
              <label for="beaches">Beaches</label>
            </div>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-md-6 ml-3 mr-3 p-3">
            <label for="price" class="form-label">Price</label>
            <br />
            <input
              type="number"
              name="listing[price]"
              id="price"
              placeholder="Enter Price"
              class="form-control"
              min="1"
              step="1"
              required
            />
            <div class="invalid-feedback">Please enter valid Price.</div>
            <div class="valid-feedback">Looks Good</div>
          </div>
          <br /><br />
          <div class="col-md-6 ml-3 mr-3 p-3">
            <label for="location" class="form-label">Location</label>
            <br />
            <input
              type="text"
              id="location"
              name="listing[location]"
              placeholder="Enter Location"
              class="form-control"
              pattern="^[a-zA-Z0-9\s,]+$"
              required
            />
            <div class="invalid-feedback">Please enter a valid Location.</div>
            <div class="valid-feedback">Looks Good</div>
          </div>
          <br /><br />
        </div>
        <br /><br />
        <div class="">
          <label for="country" class="form-label">Country</label>
          <br />
          <input
            type="text"
            id="country"
            name="listing[country]"
            placeholder="Enter Country"
            class="form-control"
            pattern="^[a-zA-Z0-9\s,]+$"
            required
          />
          <div class="invalid-feedback">Please enter a valid Country.</div>
          <div class="valid-feedback">Looks Good</div>
        </div>
        <br /><br />
        <div class="button-container">
          <button class="btn btn-outline-dark" type="submit">
            Submit Listing
          </button>
          <a href="/listings"
            ><button type="button" class="btn btn-outline-dark">
              Back to Listings
            </button></a
          >
        </div>
      </form>
      <br />
    </div>
  </div>
</body>
