.navbar {
  height: 5rem;
  background-color: #ffffff;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  list-style: none;
  font-size: 1.25rem;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
  margin-left: 1rem;
}
.nav-link {
  font-size: 1.25rem !important;
  color: #222222 !important;
}
.nav-link:hover {
  color: #fe424d !important;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.25rem;
}
.footer .fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.f-info-links a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  color: #fe424d;
  text-decoration: underline;
}
.f-info-links {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.f-info-socials i {
  color: rgb(70, 70, 70);
}

.f-info-socials i:hover {
  color: darkgrey;
}
.f-info-socials {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
