<% layout("/layouts/boilerplate.ejs") %>
<h3 class="mt-3">New User Signup</h3>
<div class="row">
  <div class="col-8 mx-auto mt-3">
    <form action="/signup" method="POST" novalidate class="needs-validation">
      <div>
        <label for="username" class="form-label">Username</label>
        <br />
        <input
          type="text"
          id="username"
          name="user[username]"
          placeholder="Enter Username"
          class="form-control"
          pattern="^[a-zA-Z0-9 ]+$"
          required
        />
        <div class="invalid-feedback">Please enter a username.</div>
        <div class="valid-feedback">Looks Good</div>
      </div>
      <br /><br />
      <div>
        <label for="email" class="form-label">Email</label>
        <br />
        <input
          type="text"
          id="email"
          name="user[email]"
          placeholder="Enter Email"
          class="form-control"
          pattern="^[a-zA-Z0-9 ]+$"
          required
        />
        <div class="invalid-feedback">Please enter a valid email.</div>
        <div class="valid-feedback">Looks Good</div>
      </div>
      <br /><br />
      <div>
        <label for="password" class="form-label">Password</label>
        <br />
        <input
          type="password"
          id="password"
          name="user[password]"
          placeholder="Enter Password"
          class="form-control"
          pattern="^[a-zA-Z0-9 ]+$"
          required
        />
        <div class="invalid-feedback">Please enter a valid email.</div>
        <div class="valid-feedback">Looks Good</div>
      </div>
      <br /><br />
      <div class="button-container">
        <button class="btn btn-outline-success" type="submit">SignUp</button>
        <a href="/listings"
          ><button type="button" class="btn btn-outline-dark">
            Back to Listings
          </button></a
        >
      </div>
    </form>
  </div>
</div>
